<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <form method="post">
        <label name="yearOne">Year One</label>
        <input name="yearOne" />

        <label name="yearTwo">Year Two</label>
        <input name="yearTwo" />

        <button type="submit">SUBMIT</button>

    </form>
</body>
</html>