<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header></header>
    <main>
        
        <div id="form-contain">
            <h1 id="time"> TIME </h1>
            <h2>Persons of the Year</h2>
            <form method="post">
                <label class="search-label" name="yearOne">Starting Year</label>
                <input class="search-input" name="yearOne" />

                <label class="search-label" name="yearTwo">Ending Year</label>
                <input class="search-input" name="yearTwo" />

                <button id="button" type="submit">SUBMIT</button>
            </form>

        </div>
    </main>
    <footer></footer>
</body>
</html>