@model List<Lab11_First_MVC_App.Models.Person>;
@{ 
    string name = "nate";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Results Page</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Hear are the results for the following years</h1>
    @foreach (var item in Model)
    {
        <h3>@item.Name</h3>
        <h3>@item.Category</h3>
    }

</body>
</html>