@model Lab11_First_MVC_App.Models.Person;


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Results Page</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Hear are the results for the following years: @Model.YearOne @Model.YearTwo</h1>


</body>
</html>