body {
    background-color: whitesmoke;
    background: url("influence.png");
    text-align: center;
}

#results-body {
    background-color: #ddd;
}
#form-contain {
    background: url("einst.jpg") no-repeat center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 45vw;
    width: 40vw;
    border: solid 10px red;
    margin-top: 1vw;
}
#index-person {
    font-size: 3vw;
    margin-bottom: 1vw;

}
#table-head {
    font-family: 'Times New Roman', Times, serif, serif;
    color: red;

}
#time {
    font-family: 'Times New Roman', Times, serif, serif;
    color: red;
    font-size: 10vw;
}
.search-label{
    width: 50%;
    font-size: 1.5vw;
    color: red;
    font-weight: bold;
}
#results-title{
    font-size: 3vw;
    color: #fff;
}
.search-input {
    width: 10vw;
    border-radius: .5em;

}
#button {
    margin-top: 1vw;
    height: 2vw;
    width: 10vw;
    border-radius: .5em;
    background-color: rgba(0, 0, 0, 0.78);
    color: red;
    font-weight: bold;
}
#table {
    border: solid 2px black;
    height: 40vw;
    margin: 0 auto;
    margin-bottom: 3vw;
}

th {
    border: solid 2px black;
    padding-top: 1vw;
    width: auto;
}       
tr {
    padding: 2vw;
    width: auto;
}
tr:nth-child(even){
    background-color: #fff;
}
tr:nth-child(odd) {
    background-color: #000;
    color: #fff;
}
#mini-Time {
    font-family: 'Times New Roman', Times, serif, serif;
    color: red;
    font-size: 8vw;
}